.view-container {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 35em) {
    .view-container {
        width: 100%;
    }

    .split-container > .container {
        padding: 15px 0;
    }
}

@media screen and (min-width: 35em) {
    .view-container {
        max-width: 35vw;
        min-width: 500px;
    }

    .split-container > .container {
        padding: 15px;
    }
}

h1 {
    text-align:left;
    font-size:18pt;
}

.container {
    text-align:left;
}

@media screen and (max-width: 35em) {
    .split-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 35em) {
    .split-container {
        display: flex;
        flex-direction: row;
    }
    .split-container > div:nth-child(1) {
        width: 50%;
    }
    .split-container > div:nth-child(2) {
        width: 50%;
    }
}

.question-element {
    display: flex;
    flex-direction: column;
}
.question-element > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.question-element > div > input {
    flex-grow: 1;
}

img {
    width: 100%;
}

span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
}
/* Change styles for span on extra small screens */
@media screen and (max-width: 35em) {
    span.psw {
        display: block;
        float: none;
    }
}